@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
* {

  margin: 0;
  padding: 0; }

body {
  background-color: lightpink;
}

.container {
  align-content: stretch;
}
/* pag paso a paso */
.cuidados {
  padding: 70px;
  text-align: left; }

.descripcion {
  display: inline-block;
  justify-content: space-between; }

/* header */
.portada {
  width: 100%;
  height: 200px; }



.medidab {
  width: 300px;
  transition: 2s;
  align-items: center; }
  .medidab:hover {
    width: 350px; }

.medidac {
  width: 300px;
  transition: 2s;
  align-items: center; }
  .medidac:hover {
    width: 350px; }

.escorpioa {
  width: 300px;
  padding: 10px; }

.escorpiob {
  width: 300px;
  padding: 10px; }

.bi {
  font-size: 20px; }
