* {
    margin: 0;
    padding: 0;
}

h1 {
    color: blueviolet;
}

main div {
    background-color: lavender;
}

h2 {
    color: blueviolet;
}

h3 {
    color: blueviolet;
    text-align: center;
}

h4 {
    color: blueviolet;
}

body {
    background-color: lightpink;
}

li a {
    color: #ca68ba;
    text-decoration: none;
}

li button {
    border-radius: 6px;
    border: 1px;
    border-style: solid;
}


.fondoimg {
    background-image: url(../media/portada2.jpg);
    background-position: center;
    background-size: contain;
    height: 225px;
}

/* pag paso a paso */
.cuidados {
    padding: 70px;
    background-color: lavender;
    text-align: left;
}

.descripcion {
    display: inline-block;
    justify-content: space-between;
}

/* inicio imagenes que estan en "sobre mi" */
.marhy {
    width: 300px;
}

.mariana {
    width: 242px;
}

.mari {
    width: 300px;
}

.dona {
    width: 450px;
}

/* fin imagenes que estan en "sobre mi" */

/* aca empieza mi navbar */

/* aca termina mi navbar */

/* header */
.portada {
    width: 100%;
    height: 200px;
}

/* aqui comienza mi grilla */

.grilla {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:"aquelarre granito arnes"
                        "marmol  morganita bordado";
    justify-items: center;
    align-items: center;
    gap: 10px;
}

.bordado {
    width: 230px;
    height: 320px;
    grid-area: bordado;
}

.arnes {
    width: 230px;
    height: 320;
    grid-area: arnes;
}

.morganita {
    width: 230px;
    height: 320px;
    grid-area: morganita;
}

.marmol {
    width: 245px;
    height: 320px;
    grid-area: marmol;
}

.granito {
    width: 230px;
    height: 320px;
    grid-area: granito;
}

.aquelarre {
    width: 245px;
    grid-area: aquelarre;
}

/* grilla de index */

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 10px;
    margin: 10px;
}

.item1 {
    grid-area: 1;
}

.item2 {
    grid-area: 2;
}

.item3 {
    grid-area: 3;
}

.item4 {
    grid-area: 4;
}

.medidab {
    width: 300px;
    transition: 2s;
}

.medidab:hover {
    width: 400px;
}

.medidac {
    width: 300px;
    transition: 2s;
}

.medidac:hover {
    width: 400px;
}
