$myFont: Helvetica,sans-serif;
$myColor: purple;
$myFontSize: 18px;
$mybackground: lightpink;

body {
    background-color: $mybackground;
    font-family: $myFont;
    font-size: $myFontSize;
    color: $myColor;
}