
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import "variables";


h3 {
    @include estilotitulo
}

div {
    color: lightpink;
}

* {
    margin: 0;
    padding: 0;
}

body {
    color: $color-de-fondo;
}

/* pag paso a paso */
.cuidados {
    padding: 70px;;
    text-align: left;
}

.descripcion {
    display: inline-block;
    justify-content: space-between;
}


/* header */
.portada {
    width: 100%;
    height: 200px;
}

/* aqui comienza mi grilla */

.grilla {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:"aquelarre granito arnes"
                        "marmol  morganita bordado";
    justify-items: stretch;
    align-items: center;
    gap: 10px;
}

.bordado {
    width: 230px;
    height: 320px;
    grid-area: bordado;
}

.arnes {
    width: 230px;
    height: 320;
    grid-area: arnes;
}

.morganita {
    width: 230px;
    height: 320px;
    grid-area: morganita;
}

.marmol {
    width: 245px;
    height: 320px;
    grid-area: marmol;
}

.granito {
    width: 230px;
    height: 320px;
    grid-area: granito;
}

.aquelarre {
    width: 245px;
    grid-area: aquelarre;
}

.medidab {
    width: 300px;
    transition: 2s;
    align-items: center;
        &:hover{
            width:350px;
        }
}

.medidac {
    width: 300px;
    transition: 2s;
    align-items: center;
        &:hover{
        width: 350px;
    }
}


.escorpioa {
    width: 300px;
    padding: 10px;
}

.escorpiob {
    width: 300px;
    padding: 10px;
}

.bi {
    font-size: 20px;
}